@font-face {
  font-family: 'Pretendard';
  src: url('/PretendardVariable.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

.titlebar {
  width: 100%;
  height: 40px;
  top: 0px;
  left: 0px;
  display: flex;
  position: absolute;
  align-items: center;
  background-color: transparent;
  -webkit-app-region: drag;
  box-sizing: border-box;
}

.titlebar-left {
  display: flex;
  align-items: center;
  padding-left: 12px;
  -webkit-app-region: drag;
}

.titlebar-title {
  font-family: 'Pretendard';
  font-size: 17px;
  font-weight: 900;
  color: white;
  user-select: none;
}

.titlebar-drag {
  flex: 1;
  height: 100%;
}

.titlebar-buttons {
  display: flex;
  gap: 6px;
  -webkit-app-region: no-drag;
  padding: 8px 8px 8px 0;
}

.titlebar-btn {
  width: 24px;
  height: 24px;
  background: transparent;
  border: 1px solid transparent;
  color: #686868;
  padding: 0px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 70ms ease, border-color 70ms ease, color 70ms ease;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.titlebar-btn:hover,
.titlebar-btn:active {
  background-color: #282828;
  border-color: #2C2C2C;
  color: white;
  transition: background-color 70ms ease, border-color 70ms ease, color 70ms ease;
}

.titlebar-btn.close:hover {
  background-color: #A12A2A;
  border-color: #2C2C2C;
  color: white;
  transition: background-color 70ms ease, border-color 70ms ease, color 70ms ease;
}